.omn-input {
    width: 240px;
    height: 24px;
    padding: 2px;
}

.omn-dropdown {
    position: absolute;
    width: 240px;
    list-style: none;
    padding: 4px 4px 10px;
    margin-top: 2px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    border: 0;
    z-index: 99;
}

.omn-dropdown-item {
    padding: 0.5rem 1rem;
}

.omn-dropdown-item:hover {
    background-color: #e8e8e9;
}

.omn-selected {
    background-color: #e8e8e9;
}

.omn-match {
    font-weight: 600;
}

.omn-dim {
    font-weight: 300;
}